<!DOCTYPE html>
<html lang='en'>

<head>
    <title>RSL Dayz</title>
    <meta name='description' content='This is the RSL Community Website!'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <!-- Load CSS -->
    <link rel='stylesheet' href='/static/css/style.css'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

    <!-- Desktop Nav menu -->
    <nav>
        <ul class="nav__links">
            <li><a href='#main'>Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href='#rules'>Rules</a></li>
            <li><a href='#requirements'>Requirements</a></li>
            <li><a href='https://dayz.gamepedia.com/DayZ_Wiki' target="_blank">DayZ Wiki</a></li>
        </ul>
        <p class="menu cta">Menu</p>
    </nav>

    <!-- Moble Nav Menu -->
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="#main">Home</a>
            <a href="/about">About</a>
            <a href='#contact'>Contact</a>
            <a href='#rules'>Rules</a>
            <a href='#requirements'>Requirements</a>
            <a href='https://dayz.gamepedia.com/DayZ_Wiki' target="_blank">DayZ Wiki</a>
        </div>
    </div>
    
    <!-- Main Body / Welcome Section -->
    <div class='wrapper'>
        <div class='main' id='main'>
            <div class='image-box'>
                <div class='image-wrap'>
                    <img src='/static/images/background.jpg' alt='background'>
                </div>
                <div class='main-content'>
                    <div class='details-box'>
                        <h2>A growing DayZ Communtiy</h2>
                        <h1>Run Shoot & Loot</h1>
                        <p>We are a Dayz community always looking for more active members to join us in our journey throughout the wastelands of Chernarus. 
                            Before you join; be sure to read the <a href='#requirements'>Requirements</a> and <a  href='#rules'>Rules</a></p>
                        <a class='join-btn' href='https://discord.gg/J783uRgJFa' target="_blank">Join our Community</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- About Communtiy Section -->
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px; margin-bottom: 15%; font-size: 115%;" id="about">
        <div id='about-content'>
            <h2 class="w3-wide">THE COMMUNTIY</h2>
            <p class="w3-opacity"><i></i></p>
            <p class="w3-justify">This website was created as a informative website to help us grow our communtiy. Who can join? Anyone can as long as 
                they have the <a href="#requrements">Requirements</a>. Our community is growing fast with over 35+ members! We may run out of space, 
                so come join now and start having fun. The server allows you to use Mouse and Keyboard on your xbox to play and is a PvP server. 
                Either Make enemies or allies. This makes us a high risk community; so form a faction or join one. Have a group of people to survive 
                So Belive it or not. This site was custom programmed from scratch by a community member himelf.
            </p>
        </div>
    </div>

    <!-- Contact Section -->
    <div class='wrapper'>
        <div class='contact' id='contact'>
            <div class='image-box'>
                <div class='image-wrap'>
                    <img src='/static/images/background2.jpg' alt='background'>
                </div>
                <div class='contact-content'>
                    <div class='details-box'>
                        <h2>Contact</h2>
                        <hr>
                        <h3>See something wrong with the website?<h3>
                        <p>Contact the Developer on Discord: McDazzzled#5307<p>
                        <br>
                        <h3>or Create a</h3>
                        <a class='join-btn' href='https://github.com/Braeden57/Dayz-Website/issues' target='_blank'>Bug Report</a>
                        <br><br><br>
                        <h3>Have any questions?</h3>
                        <p>Contact the Head Amdin/Owner on Discord: xXAxeMan1103Xx#9572</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Rules Section -->
    <div class="w3-container w3-content w3-center w3-padding-64" style="margin-bottom: 15%; font-size: 115%" id="rules">
        <div id='rules-content'>
            <h2 class='w3-wide'>Rules</h2>
            <p class="w3-opacity"><i></i></p>
            <ol class='rules'>
                <li class="w3-justify">1. Do not spam chats or post any content that is sexual, gruesome or racist</li>
                <li class="w3-justify">2. Do not shoot in Radio Zenit or raid the trader post  there. Ignoring this rule can be an instant banned </li>
                <li class="w3-justify">3. No god mode glitching or lag switches</li>
                <li class="w3-justify">4. No combat logging</li>
                <li class="w3-justify">5. No base building around the no PvP zone</li>
                <li class="w3-justify">6. No border line camping on the no PVP Zone in Radio Zenit. Players must be in the next town over from no PVP area to engage PVP</li>
                <li class="w3-justify">7. Bounties can not be claimed by same faction members or allies</li>
                <li class="w3-justify">8. No ALT accounts if you get caught doing this you will be banned</li>
                <li class="w3-justify">9. Any signs poaching will get you banned right away</li>
            </ol>
        </div>
    </div>

    <!-- Requirements Section -->
    <div class='wrapper'>
        <div class='requirements' id='requirements'>
            <div class='image-box'>
                <div class='image-wrap'>
                    <img src='/static/images/background3.jpg' alt='background'>
                </div>
                <div class='require-content'>
                    <div class='details-box'>
                        <h2 class="w3-wide">Requirements</h2>
                        <p class="w3-opacity"><i></i></p>
                        <p class="w3-justify">You will obviously need Dayz on your Xbox to play. You will also require <a href='https://discord.com/' target='_blank'>Discord</a>, and a Microphone to use on your xbox.
                            Optional requirement that is suggested is the <a href='https://dayz.ginfo.gg/' target='_blank'>Dayz Map</a> to help you navigate the large map of Chernarus.
                        </p>
                        <p class="w3-justify">
                            One of our members put together a <a href="https://izurvive.com/?group=New%20Player%20Map&secret=newguys">starter map</a>.
                            <br>Feel free to join, the password is: newguys
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Load Scripts -->
    <script src='/static/scripts/mobile.js'></script>
</body>

</html>
